body{
    background-color: #deded8;
    font-family: "Heveletica Neue", Hevelica,sans-serif;
}

header, article, footer{
    padding: 0.5em;
    box-sizing: border-box;
}

header{
    background-color: #333;
    color: #ccc;
    text-align: center;

}

article{
    background-color: white;
}

nav{
    display: flex;
    background-color: black;
    padding: 10px 0;
}

nav a{
    flex: auto;
    background-color: #ccc;
    color: black;
    text-align: center;
    margin: 0 5px;
    padding: 5px 0;
    text-decoration: none;
}

nav a:hover{
    outline: 1px solid red;
    color: red;
    text-decoration: underline;
}