nav *{box-sizing: border-box}

a{
    padding: 0 5px;
    display: inline-block;
    text-decoration: none;
}
a:link{
    color: black;
}
a:visited{
    color: black;
}
a:hover{
    color: blue;
}
.navBarContainer{
    height: 9vh;
    background-color: #C1C1C1;
    border: 1px solid black;
    /*padding: 10px;*/

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.firstList{
    display: flex;
    flex-shrink: 1;
    font-weight: bolder;
}

.secondList{
    display: flex;
    align-items: center;
    flex-shrink: 1;
    font-weight: bolder;
}

.logo{
    font-size: 3em;
    padding: .2em 0;
    display: flex;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    right: 30%;
}

