body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
div{
    border: 1px solid black;
    border-radius: .4rem;
    padding: .5rem;
    margin: .5rem;
}
.message-info{
    color: #47429A;
}
.message-success{
    color: #4A8157;
}
.message-warning{
    color: #A59A53;
}
.message-error{
    color: #9C5553;
}