/*!*removing elements from the natural flow*!*/
/*#ipsum{*/
/*    width: 25%;*/
/*    float: left;*/
/*    padding: 5px;*/
/*    margin: 1rem;*/
/*}*/
#quenya{
    position: relative;
}
img[src*="fish"]{
    top: 0;
    right: 0;
}
/*#ipsum, #quenya, #pirate{*/
/*    border: 1px solid black;*/
/*    width: 25%;*/
/*    float: left;*/
/*    padding: 5px;*/
/*    margin: 1rem;*/
/*}*/

img[src="img/logo.png"]{
    position: fixed;
    /*position: relative;*/
/*    absolute position removed the image fro the natural flow of the page*/
    top: 25%;
    left: 0;
    /*right: 0;*/
    z-index: -1;
}

/* relative position */
footer{
    max-width: 20%;
    margin: auto;
}
footer p{
    text-align: center;
    position: relative;
    /* moving something over relative to where things are natural on a page */
    /*left: 5px;*/
}

