header {
    color: purple;
    text-align: center;
}
h2{
   text-decoration: underline;
    color: #007070;
}
body{
    background-image: url("../img/whiteBackGround.jpeg");
    background-size: cover;
    background-repeat: no-repeat ;
    background-attachment: fixed;
    background-color: wheat;
}
li{
    list-style-type: circle;
}
html{
    font-family: Roboto;
    font-size: medium;
    font-style: italic;
}
table{
    border: 2px solid black;
}
td{
    padding: 10px;
    border: 2px solid black;
}
tr th{
    padding: 10px;
    border: 4px solid black;
}
a:hover{
    color: purple;
}
a:visited{
    color: white;
}
