header {
    color: purple;
    text-align: center;
}
h2{
   text-decoration: underline;
    color: #007070;
}
body{
    background-image: url("../img/whiteBackGround.jpeg");
    background-size: cover;
    background-repeat: no-repeat ;
    background-attachment: fixed;
    background-color: wheat;
}
li{
    list-style-type: circle;
}
ul li{
    list-style-type: square;
}
html{
    font-family: Roboto, sans-serif;
    font-size: large;
    font-style: italic;

}
table{
    font-size: 1.2rem;
    border: 1px solid black;
    border-collapse: collapse;
}
td{
    padding: 10px;
    border: 1px solid black;
}
tr th{
    padding: 10px;
    border: 2px solid black;
}
a:hover{
    font-size: large;
    font-weight: bold;
    color: purple;
}
a:visited{
    color: white;
}
