.fancy-header {
    color: purple;
}
h1{
    text-align: center;
}
h2{
   text-decoration: underline;
}
body{
    background-color: wheat;
    /*background-image: url("");*/
    font-family: "cursive";
}
